PROYECTO JUEGOS

- Índice

    1.-Lectura del CSV e información del mismo

    2.- Sumario

    3.-Informes:

        3.1.-Listado de los juegos:

            ▪ Todos los juegos con todas las columnas
            ▪ Solo 25 juegos
            ▪ Todas las columnas menos las de ventas
            ▪ Ordenados por género

        3.2.-Listados filtrados:

            ▪ Juegos de Nintendo
            ▪ Juegos del siglo XX
            ▪ Juegos que aparecen en años pares

        3.3.-Listado de ventas:

            ▪ Top 15 juegos más vendidos en el mundo (gráfico)
            ▪ Top 5 juegos más vendidos por región (Norte América, EU, JP, resto)
            ▪ Juegos con media de ventas en Europa por encima de la media de ventas en Europa
            ▪ Total ventas agrupadas por región y categoría
            ▪ Sumas de las ventas por región y porcentaje correspondiente
            ▪ Total ventas por región y año
            ▪ Número de juegos de cada editor (gráfico)
            ▪ Total ventas por región y editor
            ▪ Ventas ordenadas por plataforma y región
            ▪ Ventas por género (gráfico)
            ▪ Indicar cual es el juego más popular, el género, el editor y la   plataforma de todos los tiempos | siglo XX | siglo XXI
            ▪ Tendencias de ventas de videojuegos a lo largo de los años (gráfico)
            ▪ Gráfico que relacione las ventas globales y la plataforma desglosados por géneros (gráfico)
            ▪ Los 10 años con más ventas en Japón (gráfico)
            ▪ Tipo de juego más vendido en cada región
            ▪ Listado del editor que más juegos ha lanzado en cada año
        
    4.-EDA:
    
        4.1.-¿Existe alguna correlación en el siglo XX para los juegos más vendidos por región?  

            ▪  ¿Y para el siglo XXI?  
            ▪ ¿Es la misma tendencia si tomamos los datos de todos los años? 

        4.2.-¿Hay información incorrecta o nula?  

            ▪ Si es así, ¿desvirtúa el resultado? 

        4.3.-¿Cuáles son los 5 años en los cuales aparecieron más juegos?  

            ▪ ¿Se puede encontrar una explicación? 
            ▪ ¿Y si desglosamos esos 5 años por género? 

        4.4.-¿Qué genero ha sido el más versionado en algún momento? (referido a datos de un año) 

            ▪ ¿Tiene sentido? 

        4.5.-¿Se corresponde de alguna manera los editores que más venden con los que más juegos lanzan?  

            ▪ ¿existe alguna correlación?

1.-Lectura del CSV e información del mismo

In [10]:
import pandas as pd

#Leemos el csv y devolvemos la información contenida en el mismo junto con una descripción de los campos
data = pd.read_csv("datos/vgsales.csv")
data.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

2.-Sumario

En este cuaderno Jupyter vamos a realizar una serie de listado y filtrados de información con la ayuda de la librería "pandas" y funciones matemáticas varias para recoger y mostrar la información especificada en cada uno de los puntos del índice.

3.-Informes:

    3.1.-Listado de los juegos
        ▪ Listado de todos los juegos

In [2]:
print(data)

        Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]

        ▪ Solo 25 juegos

In [12]:
print(data.loc[:25])

    Rank                                          Name Platform    Year  \
0      1                                    Wii Sports      Wii  2006.0
1      2                             Super Mario Bros.      NES  1985.0
2      3                                Mario Kart Wii      Wii  2008.0
3      4                             Wii Sports Resort      Wii  2009.0
4      5                      Pokemon Red/Pokemon Blue       GB  1996.0
5      6                                        Tetris       GB  1989.0
6      7                         New Super Mario Bros.       DS  2006.0
7      8                                      Wii Play      Wii  2006.0
8      9                     New Super Mario Bros. Wii      Wii  2009.0
9     10                                     Duck Hunt      NES  1984.0
10    11                                    Nintendogs       DS  2005.0
11    12                                 Mario Kart DS       DS  2005.0
12    13                   Pokemon Gold/Pokemon Silver       GB  1999.0
13    14                                       Wii Fit      Wii  2007.0
14    15                                  Wii Fit Plus      Wii  2009.0
15    16                            Kinect Adventures!     X360  2010.0
16    17                            Grand Theft Auto V      PS3  2013.0
17    18                 Grand Theft Auto: San Andreas      PS2  2004.0
18    19                             Super Mario World     SNES  1990.0
19    20  Brain Age: Train Your Brain in Minutes a Day       DS  2005.0
20    21                 Pokemon Diamond/Pokemon Pearl       DS  2006.0
21    22                              Super Mario Land       GB  1989.0
22    23                           Super Mario Bros. 3      NES  1988.0
23    24                            Grand Theft Auto V     X360  2013.0
24    25                   Grand Theft Auto: Vice City      PS2  2002.0
25    26                 Pokemon Ruby/Pokemon Sapphire      GBA  2002.0

           Genre               Publisher  NA_Sales  EU_Sales  JP_Sales  \
0         Sports                Nintendo     41.49     29.02      3.77
1       Platform                Nintendo     29.08      3.58      6.81
2         Racing                Nintendo     15.85     12.88      3.79
3         Sports                Nintendo     15.75     11.01      3.28
4   Role-Playing                Nintendo     11.27      8.89     10.22
5         Puzzle                Nintendo     23.20      2.26      4.22
6       Platform                Nintendo     11.38      9.23      6.50
7           Misc                Nintendo     14.03      9.20      2.93
8       Platform                Nintendo     14.59      7.06      4.70
9        Shooter                Nintendo     26.93      0.63      0.28
10    Simulation                Nintendo      9.07     11.00      1.93
11        Racing                Nintendo      9.81      7.57      4.13
12  Role-Playing                Nintendo      9.00      6.18      7.20
13        Sports                Nintendo      8.94      8.03      3.60
14        Sports                Nintendo      9.09      8.59      2.53
15          Misc  Microsoft Game Studios     14.97      4.94      0.24
16        Action    Take-Two Interactive      7.01      9.27      0.97
17        Action    Take-Two Interactive      9.43      0.40      0.41
18      Platform                Nintendo     12.78      3.75      3.54
19          Misc                Nintendo      4.75      9.26      4.16
20  Role-Playing                Nintendo      6.42      4.52      6.04
21      Platform                Nintendo     10.83      2.71      4.18
22      Platform                Nintendo      9.54      3.44      3.84
23        Action    Take-Two Interactive      9.63      5.31      0.06
24        Action    Take-Two Interactive      8.41      5.49      0.47
25  Role-Playing                Nintendo      6.06      3.90      5.38

    Other_Sales  Global_Sales
0          8.46         82.74
1          0.77         40.24
2          3.31         35.82
3          2.96         33.00
4          1.00         31.37
5          0.58         30.26
6          2.90         30.01
7          2.85         29.02
8          2.26         28.62
9          0.47         28.31
10         2.75         24.76
11         1.92         23.42
12         0.71         23.10
13         2.15         22.72
14         1.79         22.00
15         1.67         21.82
16         4.14         21.40
17        10.57         20.81
18         0.55         20.61
19         2.05         20.22
20         1.37         18.36
21         0.42         18.14
22         0.46         17.28
23         1.38         16.38
24         1.78         16.15
25         0.50         15.85

        ▪ Todas las columnas menos las ventas

In [16]:
print(data[["Rank","Name","Platform","Year","Genre","Publisher"]])

        Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher
0      2006.0        Sports    Nintendo
1      1985.0      Platform    Nintendo
2      2008.0        Racing    Nintendo
3      2009.0        Sports    Nintendo
4      1996.0  Role-Playing    Nintendo
...       ...           ...         ...
16593  2002.0      Platform       Kemco
16594  2003.0       Shooter  Infogrames
16595  2008.0        Racing  Activision
16596  2010.0        Puzzle    7G//AMES
16597  2003.0      Platform     Wanadoo

[16598 rows x 6 columns]

        ▪ Ordenadas por género

In [17]:
order_genre = data.sort_values('Genre',ascending=False)
print(order_genre)

        Rank                                      Name Platform    Year  \
11820  11822                                Kessen III      PS2  2004.0
806      808                   Warcraft: Orcs & Humans       PC  1994.0
2133    2135                               Fire Emblem      GBA  2003.0
11703  11705      Tears to Tiara: Garland of the Earth      PS3  2008.0
11699  11701  P.T.O. IV: Pacific Theater of Operations      PS2  2002.0
...      ...                                       ...      ...     ...
5370    5372                              Chicken Riot      Wii  2010.0
5369    5371                                Iron Man 2       DS  2010.0
5367    5369                          Driver 2 Advance      GBA  2002.0
5366    5368                                   Freeway     2600  1980.0
2616    2618                      Dead Island: Riptide     X360  2013.0

          Genre         Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
11820  Strategy        Tecmo Koei      0.04      0.03      0.00         0.01
806    Strategy        Activision      0.89      1.08      0.00         0.11
2133   Strategy          Nintendo      0.49      0.18      0.29         0.01
11703  Strategy         Aqua Plus      0.00      0.00      0.08         0.00
11699  Strategy        Tecmo Koei      0.04      0.03      0.00         0.01
...         ...               ...       ...       ...       ...          ...
5370     Action  City Interactive      0.15      0.16      0.00         0.03
5369     Action              Sega      0.15      0.16      0.00         0.03
5367     Action             Atari      0.25      0.09      0.00         0.01
5366     Action        Activision      0.32      0.02      0.00         0.00
2616     Action       Deep Silver      0.44      0.27      0.01         0.07

       Global_Sales
11820          0.07
806            2.08
2133           0.97
11703          0.08
11699          0.08
...             ...
5370           0.34
5369           0.34
5367           0.34
5366           0.34
2616           0.79

[16598 rows x 11 columns]